base/.bin/dmenu_runner
base/.bin/dmenu_runner_x11
base/.bin/lockscreen-x11
linux/.config/alacritty/alacritty.yml
linux/.config/dunst/dunstrc
linux/.config/i3/config
linux/.config/mako/config
linux/.config/qterminal.org/qterminal.ini
linux/.config/sway/config
linux/.config/termite/config
linux/.config/zathura/zathurarc
linux/.config/Zeal/Zeal.conf
linux/.Xresources
