snippet bfig
\begin{figure}${1:[H]}
	\centering
	\includegraphics[width=${2:0.5}\textwidth]{$3}
	\caption{$4}\label{$5}
\end{figure}$0
endsnippet

snippet btab
\begin{table}${1:[H]}
	\centering
	\caption{$2}\label{$3}
	\begin{tabular}{$4}
		$0
	\end{tabular}
\end{figure}
endsnippet
