[user]
	name = Jack Zhou
	email = jack@zzh.ca
	signingkey = 3FA1780E42438C563F72238BCC6E78C68B836A59
[push]
	default = simple
[git-up "rebase"]
	auto = false
[merge]
	tool = vimdiff
[mergetool]
	path = vim -d
[alias]
	prettylog = log --color --graph --abbrev-commit --pretty=format:'%C(bold blue)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold yellow) (%an)%Creset'
	ll = log --color --graph --abbrev-commit --pretty=format:'%C(bold blue)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold yellow) (%an)%Creset'
	s = status -uno
[diff]
	compactionHeuristic = true
[core]
	excludesfile = ~/.gitignore_global
[commit]
	gpgsign = true
[pull]
	rebase = false
[advice]
	statusHints = false
